/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Icons */
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

/* Tailwindcss */
@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

:root {
  --background-color: hsl(0 0 100%);
  --foreground-color: hsl(0 0 0%);
  --surface-color: hsl(0 0 100%);
  --border-color: hsl(0 0 92%);
  --input-color: hsl(0 0 96%);
  --primary-color: hsl(0 0 0%);
  --primary-foreground-color: hsl(0 0 98%);
  --secondary-color: hsl(0 0 96%);
  --secondary-foreground-color: hsl(0 0 10%);
  --link-color: hsl(221 83 50%);
  --accent-color: hsl(0 0 40%);
}

[data-theme="dark"] {
  --background-color: hsl(0 0 8%);
  --foreground-color: hsl(0 0 75%);
  --surface-color: hsl(0 0 8%);
  --border-color: hsl(0 0 10%);
  --input-color: hsl(0 0 10%);
  --primary-color: hsl(0 0 90%);
  --primary-foreground-color: hsl(0 0 0%);
  --secondary-color: hsl(0 0 12%);
  --secondary-foreground-color: hsl(0 0 75%);
  --link-color: hsl(221 83 50%);
  --accent-color: hsl(0 0 40%);
}

@theme {
  --font-*: initial;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --leading-tight: 1.1;

  --breakpoint-*: initial;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;

  --animate-*: initial;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --color-surface: var(--surface-color);
  --color-border: var(--border-color);
  --color-input: var(--input-color);
  --color-primary: var(--primary-color);
  --color-primary-foreground: var(--primary-foreground-color);
  --color-secondary: var(--secondary-color);
  --color-secondary-foreground: var(--secondary-foreground-color);
  --color-link: var(--link-color);
  --color-accent: var(--accent-color);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen text-sm! tablet:text-base! font-normal text-foreground bg-background leading-normal font-sans antialiased selection:bg-slate-100 dark:selection:bg-slate-100/10;
    font-variation-settings: normal;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}

@utility prose {
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-body: var(--color-foreground);
  --tw-prose-links: var(--color-foreground);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-foreground);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-secondary);
  --tw-prose-quote-borders: var(--color-foreground);
  --tw-prose-captions: var(--color-secondary);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-surface);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);

  font-size: var(--text-base);
  line-height: calc(var(--spacing) * 7) !important;
  font-weight: var(--font-weight-normal);

  a {
    text-decoration: "none";
    font-weight: 400 !important;

    &:hover {
      text-decoration: "underline";
    }
  }

  em {
    font-style: "italic";
    color: var(--color-accent);
  }

  strong {
    font-weight: var(--font-weight-normal);
  }

  h1 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
  }

  h2 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
  }

  h3 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
  }
}
