# PUBLISH VISUAL STUDIO EXTENSION & RELEASE PACKAGE
#
# Publish this project into the node package
# so can access and install from the aplication
# Publish using azure publisher
# ***** NOTE *****
# Every tag & release created will automatically create a new
# version of packages

name: Release vscode

on:
  push:
    tags:
      - "vscode-v*"

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }}"
          generate_release_notes: true
          draft: false
          prerelease: false

  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/

      - name: Install VSCE
        run: npm i -g @vscode/vsce

      - name: Publish the package
        run: vsce publish -p ${{secrets.VSCE_PAT}}
