# PUBLISH VISUAL STUDIO EXTENSION & RELEASE PACKAGE
#
# Publish this project into the node package
# so can access and install from the aplication
# Publish using azure publisher
# ***** NOTE *****
# Every tag & release created will automatically create a new
# version of packages

name: Release zed

on:
  push:
    tags:
      - "zed-v*"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "${{ github.ref_name }}"
          generate_release_notes: true
          draft: false
          prerelease: false

  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: huacnlee/zed-extension-action@v1
        with:
          extension-name: brook-code-theme
          push-to: brook-code-theme/zed-extensions
        env:
          COMMITTER_TOKEN: ${{ secrets.ZED_EXTENSION_REPO_TOKEN }}
